.card{
  width: 350px;
  height: 100px;
  background-color: rgb(210, 208, 208);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75)

}
.img-box{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;

}
img{
  width: 100%;
 height: 100%;
 border-radius: 50%;
 object-fit: cover;
}
h1{
  text-align: center;

}
a{
  text-decoration: none;

}
p{
  padding: 0 20px;
  font-size: 20px;
  color: #000;
}
.details{
  width: 300px;
  height: 400px;
  border-radius: 10px;
  margin: auto;
  padding:20px 0px;
  
}
button{
  width: 100px;
  height: 50px;
  border-radius: 5px;
  margin-top: 20px;
  text-transform: capitalize;
  background-color: #fff;
  border:1px solid rgb(117, 95, 95);
  font-weight: bold;
}
button:hover{
  background-color: brown;
  color: #fff;

}
.container{
    width: 300px;
      height: 400px;
      border-radius: 10px;
      margin: auto;
      padding: 20px 0px;
}

.p_box{
    width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: aquamarine;
}
form{
  width: 300px;
    height: 400px;
  background-color: red;
  padding: 20px;
}
input{
  width: 80%;
  padding: 10px 20px;
  margin-bottom: 30px;
  outline: none;

}